@import url(‘https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,400;0,700;1,200&display=swap’);

*{
    box-sizing: border-box;
}


body {
  font-family: 'Titillium', sans-serif;
  
}

.ImageContainer {
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 80px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  

  main{
    display: flex;
    flex-wrap: wrap;
  }
  
    header{
        background-color: rgb(73, 151, 230);
        color:white;
        width:100%;
        padding:20px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-size: 40px;;
    }

   

    
    #map{
      margin-left:20px;
      margin-right:20px
    }

    .containerEvents{
        
        margin-left: 20px ;
        margin-right: 20px;
        display: flex;
        justify-content:space-between;
        align-items: center;
    }

    .eventTitle{
      display: flex;
      flex-direction: column;
    }



  .asideRecent {
        flex: 1;
        background-color: #b9c6ae;
        padding: 80px;
        text-align: center;
        max-width: 200px;
        height: auto;
      }

      .Events {
        flex: 4;
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border-style: dotted;
      }


      footer {
        padding: 20px;
        text-align: center;
        background-color: rgb(73, 151, 230);
        color: #fff;
      }
   
      .event-info{
        border-style: solid;
        border-width: 3px;
        border-radius: 10px;
        padding:10px;
        margin:8px;
        font-size:17px;
        font-family:'Lucida Sans Unicode', 'Lucida Sans', Arial, sans-serif;
        flex:0 0 300px;
      }

      .event-image img{
        width:250px;
        height:200px;
        object-fit: cover;
        overflow: hidden;
      }
  
      .searchContainer input[type=text]{
        font-size: 20px;
        padding:6px;
      }
     
      .searchContainer button{
        padding:6px;
        font-size: 20px;
        cursor: pointer;

      }

      .aboutus{
        
      }


@media screen and (max-width: 768px) {
  .centered{
    width:150px;
    font-size: 60%;
  }
}


@media screen and (max-width: 576px) {
  .centered{
    width:100px;
    font-size: 50%;
  }
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}     